<h1>HOW TO GARDEN</h1>

<p>Gardening is about finding the right combination of sunlight, fertile soil, and water to make your plants thrive. It's also about fulfilling your passion, so select plants you love. Use the resources here as a starting point, and in no time you’ll have a beautiful garden, no matter what level of gardening experience you have.</p>