<h1>HOW TO GARDEN</h1>

<h2>Gardening is about finding the right combination of sunlight, fertile soil, and water to make your plants thrive. It's also about fulfilling your passion, so select plants you love. Use the resources here as a starting point, and in no time you’ll have a beautiful garden, no matter what level of gardening experience you have.</h2>

<p>1- Vegetable gardening tip: The optimal temperature for ripening tomatoes is between 68-77°F. 
And at 85°F, it's too hot for the plants to produce lycopene and carotene, the pigments responsible for the fruit color. Once temperatures consistently drop below 50°F, green fruits will not ripen. Tomatoes that have a bit of color change can be brought inside to finish ripening.

2- Plant spring-blooming bulbs, such as tulips, fritillarias, 
ornamental alliums, and crocuses, in the fall before the ground freezes.
 In general, place the bulb in a hole that's two to three times the depth of the bulb. While most hardy bulbs you only need to plant once, 
 and they'll keep coming up year after year, note that hybrid tulips are an exception to this rule. It's best to pull them up when they are done blooming and replant new tulip bulbs each fall,
 or choose species tulips that become perennial.

3- Deadhead spent flowers on spring-blooming bulbs such as daffodils and hyacinths, so the plants send energy to the bulbs instead of into making seeds. Leave the foliage until it turns brown and can be removed with a gentle tug. The leaves store nutrients needed for the bulb to bloom the following year. 
Braiding or tying the leaves is not recommended because it reduces the amount of light to the leaf surfaces.</p>

<h2>HELP POTS TO STAY COOL</h2>

<p>Potted plants, especially those in terracotta pots, are vulnerable to overheating. Lightly mulch and, where possible, position them out of hot western sunshine. Remember that standing potted plants in saucers of water encourages root rot and mosquito breeding. Instead, stand them in saucers filled with sand, and keep the sand moist. This ensures roots stay cool and plants remain healthy. 
If potted plants dry out to the point where re-wetting is hard, soak them in a bucket of water for half an hour, then drain.</p>


<h2>WATER EARLY TO AVERT MILDEW</h2>

Water in the cool of the day. The best time to water your garden is morning but, if you water in the afternoon, allow enough time for foliage to dry out before sunset. This reduces the risk of mildew and other fungi attacking leaves, and there's less chance you'll get caught by the evening shift of mosquitoes or sandflies. Mildew frequently attacks roses, pumpkin, melon, zucchini and cucumber. Spray plants weekly with a solution made from one part cow's milk to 10 parts water. Repeat after heavy rain or irrigation. 
This remedy won't reverse mildew damage, but it's an effective preventative.

<h2>KEEP THE LAWN LONG AND LUSH</h2>
Caring for your lawn during summer and drought conditions while using minimal water is possible. Brown, bare, weed-infested lawns are symptoms of scalping, which means cutting lawns too low. It's a misconception that cutting lawns low reduces the cutting frequency. Instead, mow lawns as high as your mower permits. Longer turf wears better, but most important of all, a thick sward suppresses pernicious weeds such as oxalis and bindii. Fresh lawn clippings are great for activating compost heaps and mulching shrubberies, but only when applied in a thin layer, up to 5cm deep, as thicker layers can burn leaves and encourage collar rot on trees and shrubs. Keep lawn lush by foliar feeding with seaweed tonic once monthly and applying one handful of poultry manure per square metre each season, before rain or irrigation.
 Allow two weeks for this to green your lawn – and for the odour to disappear before having a garden party!
