<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HEAVEN GARDEN</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<ul class="header">
      <a href="/">Home</a>
      <a href="/signup">Sign Up</a>
      <a href="/login">Login</a>
      <a href="/about">About</a>
      <a href="/mygarden">My Garden</a>
      <a href="/garden/new">Create Flower </a>
      <a href="/session">Logout</a>
  </ul>
  <%= yield %>


</body>
</html>
