<h1>Plant A Flower</h1>

<section id="profile">
  <div>
    <form action="/mygarden" method="post">
      <ul class="flowers-list">
        <input type="checkbox" name="flowers[]" value="Tulip">Tulip<br>
        <input type="checkbox" name="flowers[]" value="Rose">Rose<br>
        <input type="checkbox" name="flowers[]" value="Sunflower">Sunflower<br>
        <input type="checkbox" name="flowers[]" value="Lily">Lily<br>
        <input type="checkbox" name="flowers[]" value="Daisy">Daisy<br>
        <input type="checkbox" name="flowers[]" value="Jasmin">Jasmin<br>
        <input type="checkbox" name="flowers[]" value="Petunia">Petunia<br>
        <input type="checkbox" name="flowers[]" value="Bugenvilija">Bugenvilija<br>
        <input type="checkbox" name="flowers[]" value="Chrysanthemun">Chrysanthemun<br>
        <input type="checkbox" name="flowers[]" value="Iris">Iris<br>
        <input type="checkbox" name="flowers[]" value="Peony">Peony<br>
        <input type="checkbox" name="flowers[]" value="Geranium">Geranium<br>
        <input type="checkbox" name="flowers[]" value="Nasturtium">Nasturtium<br>
        <input type="checkbox" name="flowers[]" value="Sweet Peas">Sweet Peas<br>
        <input type="checkbox" name="flowers[]" value="Begonias">Begonias<br>
        <input type="checkbox" name="flowers[]" value="Hydrangeas">Hydrangeas<br>
        <input type="checkbox" name="flowers[]" value="Zinnias">Zinnias<br>
        <input type="checkbox" name="flowers[]" value="Impatiens">Impatiens<br>
        <input type="checkbox" name="flowers[]" value="African Violet">African Violet<br>
        <input type="checkbox" name="flowers[]" value="Cactus">Cactus<br>
        <input type="checkbox" name="flowers[]" value="Carnation">Carnation<br>
        <input type="checkbox" name="flowers[]" value="Hyacinth">Hyacinth<br>
        <input type="checkbox" name="flowers[]" value="Daffodil">Daffodil<br>
        <input type="checkbox" name="flowers[]" value="Marigold">Marigold<br>
        <input type="checkbox" name="flowers[]" value="Bluebell">Bluebell<br>
        
      </ul>
  </div>

  <div>
      
       <div>
        <label for="">Image Url</label><br>
        <textarea name="image_url" id="image_url" cols="40" rows="2" placeholder="Link the image..."></textarea>
      </div>
      <div>
        <label for="">sunlight</label><br>
        <textarea name="sunlight" id="sunlight" cols="40" rows="5" ></textarea>
      </div>
      <div>
        <label for="">fertilizer</label><br>
        <textarea name="fertilizer" id="fertilizer" cols="40" rows="5" placeholder="What did you do?"></textarea>
      </div>
      <div>
        <label for="">moisture</label><br>
        <textarea name="moisture" id="moisture" cols="40" rows="5" ></textarea>
      </div>
       <div>
        <label for="">Comments</label><br>
        <textarea name="comments" id="comments" cols="40" rows="5" ></textarea>
      </div>
      <div class="button">
        <button>Post</button>
      </div>
    </form>
  </div>
</section> 