body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgCNQ5FvPdJ6du0KtoV3QA2JiQArE6MAL2g8IDnjveqqEfHj0VjJ_UdZhMqFjx7aKiavI&usqp=CAU");
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  font-family: Aclonica;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 10px;
  color: tomato;
  font-size: 40px;
  text-shadow: -3px 1px;
}

h2 {
  text-align: center;
  color: rgb(107, 105, 105);
}
.box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 100px;
  text-align: center;
  margin-top: 150px;
}

.profile {
  display: flex;
  justify-content: space-evenly;
}

.header {
  position: fixed;
  justify-content: space-around;
  text-transform: uppercase;
  background-color: rgb(222, 202, 135);
  font-weight: 900;
  margin: auto;
  font-family: monospace;
  height: 40px;
  width: 100%;
  height: 40px;
  left: 0px;
  top: 0px;
  display: flex;
  padding: 0;
}

.header a {
  text-decoration: none;
  color: black;
  font-family: "Times New Roman", Times, serif;
  margin-top: 10px;
}

.garden {
  display: block;
  justify-content: baseline;
}

.flowers-list {
  list-style-type: none;
  padding: 2rem;
  margin: 0;
}

.garden-tag {
  color: black;
  text-decoration: none;
}

.garden-tag:hover {
  color: red;
}

.btn-garden {
  border: none;
  background: black;
  color: white;
  font-family: monospace;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: underline;
}

.about {
  text-align: center;
  margin-top: 70px;
}

footer {
  text-align: center;
  position: fixed;
  color: black;
  width: 100%;
  height: 20px;
  padding: 10px;
  left: 0px;
  bottom: 0px;
  margin-top: 10px;
}

.garden-img {
  width: 150px;
}

.allgarden {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
}

.title {
  color: black;
}

.garden {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.garden-img {
  border: 3px solid green;
  box-shadow: 5px 10px 10px 0 rgb(107, 105, 105);
}

.remove {
  padding-top: 10px;
  float: left;
}

.form {
  display: flex;
  justify-content: center;
}

.edit {
  font-family: monospace;
  background: rgb(222, 202, 135);
  padding: 0 15px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  margin-top: 7px;
  font-size: 15px;
  color: black;
}

.del-btn {
  font-family: monospace;
  background: rgb(222, 202, 135);
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  margin-top: 7px;
  font-size: 15px;
}
